@media (max-width: 991px) {
  .feature-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83%;
    flex: 0 0 83%;
  }

  /* service page */

  .solution .solution-container {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;

    gap: 1.3rem;
  }

  .solution-box {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    height: 20rem;
  }

  .solution-box .solution-content > h4 {
    font-size: 0.9rem;
  }
  .solution-box .solution-content > p {
    font-size: 82%;
    line-height: 1.7;
  }
}

@media (max-width: 768px) {
  h3 {
    font-size: 26px;
  }
  .row {
    display: none;
  }

  .header-row {
    position: -webkit-sticky;
    position: sticky;
    overflow-x: visible;
    max-width: 100%;
    top: 0;
    left: 0;
  }
  .header-row .nav-container {
    padding-left: 5%;
    z-index: 1;
  }
  .nav-container nav {
    overflow-y: auto;
    padding-left: 3rem;
    width: 100%;
  }

  nav ul li ul:not(:first-of-type) {
    border-left: 1px solid transparent;
  }

  nav ul > li {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .sub-menu ul {
    border-left: 1px solid #fff;
  }
  nav ul li .sub-menu {
    -webkit-transition: height 0.4s ease;
    -o-transition: height 0.4s ease;
    transition: height 0.4s ease;
    font-size: 14px;
    line-height: 1.3;
    max-height: 0;
    overflow-y: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: static;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #fff;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    height: 100vh;
    -webkit-animation: none;
    animation: none;
  }

  .megamenu .desktop {
    display: none;
  }

  .megamenu .mobile {
    display: block;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    font-size: 80%;
  }
  .megamenu .mobile i {
    font-size: 80%;
    margin-left: 0.3rem;
    color: #888;
  }
  .megamenu #showMega {
    display: none;
  }

  .header-container .mobile-menu {
    display: block;
  }

  .header-container .mobile-menu i {
    font-size: 1.3rem;
  }

  #showBar:checked ~ .nav-container {
    left: -4%;
  }

  #showMega:checked ~ .sub-menu {
    max-height: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .header-container .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 3.8rem;
    left: -50%;
    height: 100%;
    width: 50%;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    -webkit-transition: left 0.4s ease;
    -o-transition: left 0.4s ease;
    transition: left 0.4s ease;
  }

  .nav-container ul {
    padding-top: 19%;
  }

  #showBar {
    display: none;
  }

  .header-row {
    overflow-x: visible;
    max-width: 100%;
  }

  .menu-bar {
    display: block;
    width: 20px;
    height: 20px;
  }

  .menu-bar i {
    font-size: 1.7rem;
  }

  .header-row .logo {
    -ms-flex-preferred-size: 31%;
    flex-basis: 31%;
    padding: 3% 0;
  }

  div.swiper-slide.swiper-slide-duplicate {
    margin-right: 6px;
  }

  .hero-content > h2 {
    font-size: 2.65rem;
    width: 70%;
  }
  .hero-content > p {
    width: 70%;
  }
  .pricing .pricing-container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .pricing-container .price-plan {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
  }
  .price-plan h6 i {
    left: -10px;
  }
  .projects .box-container {
    padding: 2rem 1.5rem 2rem 1rem;
  }
  .box-container .box {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 47%;
    flex: 0 0 47%;
  }

  .blog > h3:after {
    top: 3rem;
  }
  footer .footer-container {
    padding-right: 5%;
    padding-left: 7%;

    -webkit-box-pack: justify;

    -ms-flex-pack: justify;

    justify-content: space-between;
  }

  .footer-container .footer-col {
    -ms-flex-preferred-size: 37%;
    flex-basis: 37%;
    padding-bottom: 5%;
  }

  /* About Us Page */
  .feature {
    width: 100%;
    background: url(../img/bg-2.jpg) no-repeat right/cover;
  }
  .feature-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .feature-inner {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .feature-container {
    width: 95%;
    margin-left: -1rem;
  }
  .feature-icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
  }
  .feature-inner-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 85%;
    flex: 0 0 85%;
    padding-right: 0.9rem;
  }

  .feature-inner-content h4 {
    font-size: 1.1rem;
  }
  .feature-inner-content p {
    line-height: 1.5;
  }

  .team-content h3 {
    font-size: 1.3rem;
  }

  .team-content span {
    font-size: 0.85rem;
  }
  .team-card .team-content {
    padding: 0 1rem 2rem;
  }
  .team-content p {
    text-align: left;
    line-height: 1.6;
    padding-bottom: 1rem;
    font-size: 0.8rem;
  }
  .team-content .social {
    padding: 0 1rem;
  }

  .team-container .team-card {
    width: 44%;
  }

  /* service page */

  .solution-box {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 44%;
    flex: 0 0 44%;
    height: 20rem;
  }

  .count-container .count-header {
    text-align: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .count-container h3 {
    font-size: 27px;
  }
  .count-container h2:after {
    left: 40%;
    bottom: 8.5rem;
  }

  /* contact page */

  .contact-section .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contact-container .contact-inner {
    width: 100%;
  }

  .contact-container .form-container {
    width: 100%;
  }

  /* blog page */

  .blog-container .blog-box {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
  }
  .inner-blog p {
    font-size: 0.8rem;
  }
  .inner-blog > span {
    font-size: 0.8rem;
  }
}

@media (max-width: 600px) {
  .swiper-slide {
    margin-right: 61px;
  }
  .service-container {
    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

    -ms-flex-direction: column;

    flex-direction: column;
  }

  .service-container .service {
    width: 100%;
  }

  .call2action {
    background-size: 159% 100%;
  }

  .call2action .action-inner {
    padding-left: 7%;
  }

  .pricing-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .pricing-container .price-plan {
    width: 100%;
  }

  .pricing-container .price-plan {
    margin-bottom: 13%;
  }

  .pricing-container .price-plan .tag {
    top: 32%;
    left: 87%;
  }

  .projects .box-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 2rem 1.5rem 2rem 1rem;
  }

  .box-container .box {
    width: 100%;
    margin-bottom: 5%;
  }

  .blog .blog-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .blog-container .blog-box {
    width: 100%;
    margin-bottom: 10%;
    -webkit-box-shadow: 0px 10px 30px 0px rgb(50 50 50 / 29%);
    box-shadow: 0px 10px 30px 0px rgb(50 50 50 / 29%);
  }

  .footer .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-container .footer-col {
    width: 100%;
  }
  .contact h5 {
    padding-right: 5%;
  }
  .contact h5:after {
    top: 105%;
  }

  .about h4:after {
    top: 25%;
    width: 80px;
  }

  .links h4:after {
    top: 20%;
    width: 108px;
  }

  .posts h4:after {
    top: 12%;
    width: 115px;
  }

  .tags h4:after {
    top: 25%;
    width: 42px;
  }
  .post-content .post-img {
    width: 55%;
  }

  .post-img img {
    width: inherit;
  }

  .footer-container .tags a {
    padding: 2%;
  }
  /* About Us Page */

  .available-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .available-img {
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
  }

  .available-content {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    width: 100%;
  }

  .coverage-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 3rem;
  }
  .coverage-content {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    width: 100%;
  }
  .coverage-img {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    width: 100%;
  }
  .feature-inner-content h4 {
    font-size: 1rem;
  }

  .feature-icon i {
    font-size: 2rem;
  }

  .box-btn input[type="submit"] {
    font-size: 0.85rem;
  }

  .feature-inner-content p {
    font-size: 85%;
  }
  .testimonial-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .testimonial-box {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  /* blog page */

  .blog-container {
    width: 90%;
    margin: 0 2rem 0 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .blog-container .blog-box {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}

@media (max-width: 480px) {
  .team .team-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .team-container .team-card {
    width: 80%;
  }
  .service-content h2 {
    font-size: 1.8rem;
  }
  .solution > h3 {
    font-size: 1.5rem;
  }
  .solution-box {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 87%;
    flex: 0 0 87%;
  }
}
